  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/MilkyWay/" title="Go home">Milky Way</a></li>
      <li><a href="/Earth/" title="Go home">Earth</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
    </ul>
  </nav>